 @keyframes fadeInLeft {
    10% {
        transform: translateX(-1000px);
        visibility: hidden;
        opacity: 0;
    }
    50% {
        visibility: visible;
        opacity: 0;
    }
    100% {
       transform: translateX(0);
       visibility: visible;
       opacity: 1;
    }
 }

 @keyframes fadeInRight {
    10% {
        transform: translateX(1000px);
        visibility: hidden;
        opacity: 0;
    }
    50% {
        visibility: visible;
        opacity: 0;
    }
    100% {
       transform: translateX(0);
       visibility: visible;
       opacity: 1;
    }
 }