@import url("https://fonts.googleapis.com/css2?family=Bungee+Outline&family=Cutive+Mono&family=Major+Mono+Display&display=swap");
$font-first: "Major Mono Display", monospace;
$font-second: "Cutive Mono", monospace;
$font-third: "Bungee Outline", cursive;

@import "../styles/mixins.scss";
@import "../styles/colors.scss";
@import "../styles/animations.scss";

html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: $font-second;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  background-color: $color-darkBlue;
  overflow-x: hidden;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  color: white;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

h1 {
  font-size: 35px;
  font-family: $font-first;
}

h2 {
  font-size: 20px;
  font-family: $font-second;
}

h3 {
  font-family: $font-first;
  font-size: 18px;
  font-weight: 600;
}

h4 {
  font-family: $font-first;
  font-size: 10px;
  font-weight: 600;
}

h5 {
  font-weight: 600;
  font-size: 14px;
}

h6 {
  font-size: 13px;
}

p {
  font-size: 13px;
}

.appContainer {
  background-color: $color-darkBlue;
  box-sizing: border-box;
}

.singlePage {
  position: relative;
  width: 796px;
  height: 1123px;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  @include mobile {
    width: 100%;
    height: 100%;
    padding: 0 20px;
  }
}

//website
// .singlePage:first-of-type {
//   padding-bottom: 0;
//   margin-bottom: 0;
// }

// .singlePage:last-of-type {
//   padding-top: 0;
//   margin-top: 0;
// }
//

//pdf
.singlePage:last-of-type {
  justify-content: space-between;
}

.consent {
  visibility: hidden;
  animation: fadeInLeft 2s;
  animation-fill-mode: forwards;
  animation-delay: 3s;
  font-size: 10px;
  text-align: justify;
  padding: 7px 0;
  border-top: 1px groove white;
  margin-top: 40px;
}
