@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400;500&display=swap');
$font-primary: 'Edu VIC WA NT Beginner', cursive;

html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: $font-primary;
  }
  
  *, *:before, *:after {
    box-sizing: border-box;
  }

  body {
    display: flex;
    justify-content: center;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
    color: white;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

h1 {
  font-size: 38px;
}

h2 {
  font-size: 20px;
}

p {
  font-size: 14px;
}

.appContainer {
    background-color: #011627;
    width: 796px;
    height: 1122px;
    padding: 30px;
    box-sizing: border-box;
}