@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Major+Mono+Display&display=swap');
$font-first: 'Major Mono Display', monospace;
$font-second: 'Cutive Mono', monospace;

@import "../styles/colors.scss";

html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: $font-second;
  }
  
  *, *:before, *:after {
    box-sizing: border-box;
  }

  body {
    display: flex;
    justify-content: center;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
    color: white;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

h1 {
  font-size: 35px;
  font-family: $font-first;
}

h2 {
  font-size: 20px;
  font-family: $font-second;
}

h3 {
  font-family: $font-first;
  font-size: 18px;
  font-weight: 600;
}

h4 {
  font-family: $font-first;
  font-size: 14px;
  font-weight: 600;
}

p {
  font-size: 13px;
}

.appContainer {
    background-color: $color-darkBlue;
    width: 796px;
    height: 1122px;
    padding: 30px;
    box-sizing: border-box;
}