@import "../styles/mixins.scss";

.educationContainer {
    margin-top: 15px;

    h3 {
        margin-bottom: 20px;
    }
}

.singleInstitution {
    box-sizing: border-box;
    display: flex;
    margin-bottom: 15px;
    @include mobile {
        flex-wrap: wrap;
    }
    .dates {
        width: 30%;
        @include mobile {
            width: 50%;
        }
    }

    .name {
        width: 35%;
        @include mobile {
            width: 50%;
        }
    }

    .description {
        width: 40%;
        @include mobile {
            width: 100%;
            margin-top: 5px;
        }      
    }
}

.codersLab {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    @include mobile {
        flex-wrap: wrap;
        margin-bottom: 15px;
    }
    .dates {
        width: 30%;
        @include mobile {
            width: 50%;
        }
    }

    .name {
        width: 35%;
        @include mobile {
            width: 50%;
        }
    }

    .description {
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 13px;
        @include mobile {
            width: 100%;
            justify-content: space-between;
        }
        .linksContainer {
            display: flex;
            .links {
                margin-left: 5px;
                display: flex;
                align-items: center;
        
                img {
                    width: 25px;
                    margin: 1px;
                }
            }        
        }
        
    }
}