.educationContainer {
    margin-top: 15px;

    h3 {
        margin-bottom: 20px;
    }
}

.singleInstitution {
    box-sizing: border-box;
    display: flex;
    margin-bottom: 15px;
    .dates {
        width: 30%;
    }

    .name {
        width: 35%;
    }

    .description {
        width: 40%;
        text-align: justify;       
    }
}

.codersLab {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    .dates {
        width: 30%;
    }

    .name {
        width: 35%;
    }

    .description {
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 13px;
        .links {
            margin-left: 5px;
            display: flex;
            align-items: center;
    
            img {
                width: 22px;
                margin: 1px;
            }
        }        
    }
}