@import "../styles/mixins.scss";
@import "../styles/animations.scss";

.experienceContainer {
  visibility: hidden;
  animation: fadeInLeft 2s;
  animation-fill-mode: forwards;
  animation-delay: 3s;
  position: relative;
}

.singleExperience {
  margin-top: 20px;
  @include mobile {
    margin-bottom: 30px;
  }
  .datesRoleLinks {
    display: flex;
    align-items: center;

    .dates {
      width: 29%;
    }

    .role {
      width: 61%;
    }

    .links {
      visibility: hidden;
      animation: fadeIn 2s;
      animation-delay: 4s;
      animation-fill-mode: forwards;

      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 10%;
      @include mobile {
        width: 15%;
      }

      img {
        width: 30px;
        margin-right: 10px;
      }
    }
  }

  .description {
    margin-top: 5px;
    text-align: justify;
  }

  .saxophoneTeacher {
    margin-left: 214px;
    margin-bottom: 7px;
    @include mobile {
      margin-left: 28%;
    }
  }
}
