@import "../styles/mixins.scss";
@import "../styles/animations.scss";

.headerContainer {
    color: white;
    display: flex;
    justify-content: space-between;
    position: relative;
    visibility: hidden;
    animation: fadeInLeft 1.5s;
    animation-fill-mode: forwards;
    @include mobile {
        flex-direction: column;
        justify-content: flex-start;
    }
}

.titleContainer {
    position: relative;
    width: 70px;
    h1, h2 {
        transform: rotate(-90deg);
        @include mobile {
            transform: none;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    h1 {
        position: relative;
        top: 170px;
        left: -180px;
        width: 400px;
        @include mobile {
            position: static;
            font-size: 32px;
            width: 350px;
        }
    }

    h2 {
        position: relative;
        top: 160px;
        left: -140px;
        width: 400px;
        @include mobile {
            position: static;
            font-size: 16px;
            width: 350px;
        }
    }    
}


.profilowe {
    width: 200px;
    height: 200px;
    object-fit: cover;
    @include mobile {
        position: absolute;
        top: 70px;
        left: -20px;
    }
}

.contactAndAboutContainer {
    display: block;
    position: relative;
}

.contactDetails {
    animation: fadeIn 2s;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 70px;
    @include mobile {
        visibility: hidden;
        animation: fadeIn 3s;
        animation-fill-mode: forwards;

        height: 200px;
        flex-direction: column;
        align-items: flex-end;
        margin: 20px 0 10px 0;
    }
    .singleContactLink {
        display: flex;
        align-items: center;
        text-decoration: none;
        img {
            padding-right: 10px;
            width: 30px;
            object-fit: contain;
        }
    }
}

.aboutme {
    padding: 15px 0 0 20px;
    @include mobile {
        padding: 0;
    }
    
    p {
        text-align: justify;
        margin-top: 10px;
    }
}

