@import "../styles/colors.scss";
@import "../styles/mixins.scss";

.technologiesContainer {
    margin: 20px 0 0 90px;
    @include mobile {
        margin: 20px 0 0 0;

    }
}

.technologiesList {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
    @include mobile {
        justify-content: space-between;
    }

}

.singleTechnology {
    display: flex;
    border-radius: 2px;
    align-items: center;
    padding: 7px 0;
    margin-right: 20px;
    width: 109px;

    img {
        width: 25px;
        object-fit: contain;
        margin-right: 10px;
    }

   

    .level {
        display: flex;
        border: 1px ridge white;
        box-shadow: 2px 2px 8px rgb(91, 182, 235);
        position: relative;

        h4 {
            text-shadow: -1px 1px 0 white,
                          1px 1px 0 white,
                         1px -1px 0 white,
                        -1px -1px 0 white;

            // background-color: $color-darkBlue;
            // color: white;
            // padding: 3px 1px;
            // top: 10%;
            // border-radius: 10%;

            position: absolute;           
            left: 2px;
            top: 25%;
            color: black; 
        }

        div {
            height: 20px;
            width: 27px;
            background-color: transparent;
        }

        .active {
            background-color:white;
        }
    }
}

