@import "../styles/colors.scss";

.technologiesContainer {
    margin: 20px 0 0 90px;
}

.technologiesList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 15px;

}

.singleTechnology {
    display: flex;
    border-radius: 2px;
    justify-content: space-around;
    align-items: center;
    padding: 4px;
    margin-right: 10px;

    img {
        width: 30px;
        object-fit: contain;
        margin-right: 5px;
    }

   

    .level {
        display: flex;
        border: 1px ridge white;
        box-shadow: 2px 2px 8px rgb(91, 182, 235);
        position: relative;

        h4 {
            text-shadow: -1px 1px 0 white,
                          1px 1px 0 white,
                         1px -1px 0 white,
                        -1px -1px 0 white;
            position: absolute;
            color: black;
            top: 25%;
            left: 2px;
        }

        div {
            height: 20px;
            width: 27px;
            background-color: transparent;
        }

        .active {
            background-color:white;
        }
    }
}

